extends  ../../templates/page_layout
block pageTitle
    |  Примеры кода
block pageContent
    +code('vox-subacc','Система управления аккаунтами для VoxImplant','https://gitlab.com/irbisadm/vox-subacc')(target="_blank")
    +code('Voximplant PHP HTTP API','PHP SDK для работы с voximplant HTTP API','https://gitlab.com/irbisadm/vox-php-sdk')(target="_blank")
    +code('Appatbox template','Шаблон для создания верстки на стеке Jade+PostCSS+Grunt. Подробно об этом шаблоне и как я докатился до такой жизни - можно посмотреть в блоге','https://gitlab.com/irbisadm/appatbox-template')(target="_blank")
    +code('Исходники этого сайта','Проект этого сайта. На примере этих исходников, можно познакомиться с использованием шаблонизатора Jade и сборку статических сайтов.','https://gitlab.com/irbisadm/irbisadm.ru')(target="_blank")