include include/mixins
doctype html
html
    head
        title Игорь Шеко ::
            block pageTitle
                |  Full-stack разработчик
        meta(charset="UTF-8")
        meta(name="viewport",content="width=device-width, initial-scale=1")
        link(rel="stylesheet",href="/assets/css/style.css")
    include include/favicon
    body
        include include/header
        .container
            .row
                .col-md-3.col-sm-4
                    include include/cv
                    include include/social
                    include include/contacts
                .col-md-9.col-sm-8
                    block pageContent
        include include/footer