extends ../templates/page_layout

block pageContent
    +bloglink('Как переписать SDK на TypeScript, обновить платформу и ни о чем не жалеть','Статья про обновление VoxImplant WebSDK',"https://habrahabr.ru/company/Voximplant/blog/310740/")(target="_blank")
        +bloglink('Реактивный Monaco editor','Русскоязычная версия статьи "Reactive Monaco editor"',"https://medium.com/@irbisadm/%D1%80%D0%B5%D0%B0%D0%BA%D1%82%D0%B8%D0%B2%D0%BD%D1%8B%D0%B9-monaco-editor-84664a35f335#.8uuyobe1y")(target="_blank")
        +bloglink_translate('Reactive Monaco editor','How deploy Monaco Editor to you React/Webpack app',"https://medium.com/voximplant/reactive-monaco-editor-507a945ac26f#.6h5hkinn7")(target="_blank")
        +bloglink('Microsoft Edge и RTC: история боли','О реализации ORTC в voximplant WebSDK',"https://habrahabr.ru/company/Voximplant/blog/305470/")(target="_blank")
        +bloglink('Декораторы в typescript: оружие против сложности или бесполезная «свистелка»?','Вы, наверное, уже наслышаны о такой странной вещи для js/ts разработчика, как декораторы. Вообще это паттерн проектирования, который можно использовать в любом языке. Но некоторые языки программирования,например python, притащили этот паттерн в свой синтаксис, чем вызвали противоречивую реакцию среди разработчиков. TypeScript уже зарекомендовал себя как сорока, тянущая удачный синтаксис из разных языков программирования. Но пойдут ли ему на пользу декораторы?',"https://habrahabr.ru/company/Voximplant/blog/277847/")(target="_blank")
        +bloglink_translate('«ES7» — неправильное название для планов по развитию JavaScript','Я не первый и не последний, кто вам об этом скажет, но стандарт ES2016 (или ES7) уже утвержден, и не включает в себя те функции, про которые говорят — «Будет в ES7». Пора закончить упоминать ES7 в смысле “разные, предложенные сообществом функции, которые возможно когда-нибудь будут внесены в стандарт”.',"https://habrahabr.ru/company/Voximplant/blog/277847/")(target="_blank")
        +bloglink('Подкаст Setup.ru #35','Выпуск 35. Тенденции в дизайне и сайтостроении. Игорь Шеко, AppatBox.com',"http://www.setup.ru/client/news/440")(target="_blank")
        +bloglink('О SCRUM от Игоря Шеко','Промо видео о SCRUM для AppatBox.com',"https://www.youtube.com/watch?v=BJwpuuoJxnk")(target="_blank")
    p
    h2 Мои Скиллы
    .skill_title Back-end
    .skill_group
        .skill php
        .skill C#
        .skill Node.js
        .skill Go
    .skill_title Front-end
    .skill_group
        .skill JavaScript (ES2017)
        .skill TypeScript
        .skill WebRTC
        .skill ORTC
        .skill Angular 1.x
        .skill ReactJS
    .skill_title Data-mining
    .skill_group
        .skill R
        .skill Tensor Flow
    .skill_title Team-lead
    .skill_group
        .skill Agile
        .skill Scrum
        .skill Planing poker
block pageTitle
    |  Full-stack разработчик