hr
h3 Контакты
.vcard
    .fn.vcard_item Игорь Шеко
    .email.vcard_item i@irbisadm.ru
    .addr.vcard_item
        .locality Москва
        .country-name Россия
    a.tel.vcard_item(href="tel:+79969665102") +79969665102
.messengers
    a.telegram.vcard_item(href="https://telegram.me/iRbisaDm") Telegram
    br
    a.skype.vcard_item(href="skype:irbisadm?chat") Skype