// header.jade
header
    .container
        .row
            .col-sm-8.col-sm-12.text-left
                a.logo(href="/") Live4dev
            .col-sm-4.col-sm-12.text-right
                a(href="/code/") Код
//end header.jade

