mixin code(title,description,link)
  article.ir__code_product
    h2=title
    p=description
    a.link_to(href=link, target!=attributes.target) В репозиторий
mixin bloglink(title,description,link)
  article.ir__blog_block_link
    h2
      a(href=link, target!=attributes.target)= title
    p=description
    br
    a.ir__link_toa(href=link, target!=attributes.target) Читать дальше
mixin bloglink_translate(title,description,link)
  article.ir__blog_block_link.ir__blog_block_translate
    h2
      a(href=link, target!=attributes.target)= title
    p=description
    br
    a.ir__link_toa(href=link, target!=attributes.target) Читать дальше