hr
.xsc_panel
    a.xsc_link(href="https://github.com/irbisadm",target="_blank")
        img(src="/assets/svg/s1.svg")
    a.xsc_link(href="https://www.linkedin.com/profile/view?id=AAMAAAqi-iYBSERzRu5OcgyXrnyweujxbYXaUf0",target="_blank")
        img(src="/assets/svg/s2.svg")
    a.xsc_link(href="https://www.facebook.com/igor.sheko",target="_blank")
        img(src="/assets/svg/s3.svg")
    a.xsc_link(href="https://vk.com/irbisadm",target="_blank")
        img(src="/assets/svg/s4.svg")
    a.xsc_link(href="https://www.google.com/+%D0%98%D0%B3%D0%BE%D1%80%D1%8C%D0%A8%D0%B5%D0%BA%D0%BE",target="_blank")
        img(src="/assets/svg/s5.svg")