*,body,html{
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
}
.text-right{
  text-align: right;
}
.text-left{
  text-align: left;
}
.text-center{
  text-align: center;
}
a{
  color: #000;
  border-bottom: 1px solid #FFFFFF;
}
a:hover,a:focus,a:active{
  color: #000;
  text-decoration: none;
  border-bottom: 1px solid #3c3c3c;
}
header a{
  font-size: 18px;
  font-weight: 300;
  margin-right: 30px;
  line-height: 1.5;
}
header a.logo{
  font-size: 20px;
  margin-right: 0;
  line-height: 1.5;
}
header .container{
  border-bottom: solid 1px #dddddd;
}
header{
  margin-bottom: 16px;
}
.me{
  font-size: 20px;
  font-weight: 300;
  width: 100%;
  height: 80px;
  vertical-align: middle;
  box-sizing: border-box;
  padding-left: 120px;
  padding-top: 12px;
  position: relative;
}
.me span{
  display: block;
  font-size: 14px;
}
.me img{
  width: 80px;
  height: 80px;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top:0;
  border: solid 1px #efefef;
}
header .logo span{
  font-size: 16px;
  font-weight: 300;
  display: block;
}
.xsc_panel{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-content: stretch;
  align-items: flex-start;
}
a.xsc_link{
  flex: 0 1 auto;
  display: block;
}
a.xsc_link:hover,a.xsc_link:focus,a.xsc_link:active{
  border-bottom: none;
}
.skill_title{
  font-weight: 400;
}
.skill{
  font-weight: 300;
  display: inline-block;
  border-bottom: 1px #cccccc dashed;
  line-height: 1;
  padding-top: 4px;
}
.skill_group{
  padding-left: 10px;
}
.skill:after{
  content: ", ";
}
.skill:last-child:after{
  content: "";
}
.more_sills{
  float: right;
}
.vcard_item:after{
  content: '';
  display: block;
  height: 7px;
}