@media only screen and (min-width: 768px) {
  header a{
    font-size: 20px;
    font-weight: 100;
    margin-right: 30px;
    line-height: 54px;
  }
  header a.logo{
    font-size: 28px;
    margin-right: 0;
    line-height: 44px;
  }
  .vcard_item:after{
    display: none;
  }
}