@media only screen and (min-width: 992px) {
  header a{
    font-size: 24px;
    font-weight: 100;
    margin-right: 30px;
    line-height: 64px;
  }
  header a.logo{
    font-size: 36px;
    margin-right: 0;
    line-height: 52px;
  }
}
